.myMessage {
    background: #0084ff;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    text-align: left;
    margin-bottom: 15px;
}

.notMyMessage {
    background: #e9ebee;
    color: #000000;
    border-radius: 8px;
    padding: 8px;
    text-align: right;
    margin-bottom: 15px;
}

.messageAuthor {
    display: block;
    font-weight: 800;
    font-size: 16px;
}

.form-new-message {
    margin-top: 15px;
}